%%% -*- mode:erlang -*-
%%% Warning - this config file *must* end with <dot><whitespace>

%% write log files to sasl_dir
[
 {sasl,
  [
   {sasl_error_logger, {file, "/tmp/chatyeo.sasl_log"}}
  ]
 },
  
 %% (G)eneric (A)pplication (S)services config below here. This default config provides
 %% the release with log rotaion and trunctation.
 {gas,
  [
   {mod_specs, [{elwrap, {ewl_elwrap_h, start_link}}]},
   
   {wiring, [
             {elwrap, [
               {wire, sasl, sasl_error_logger, "V:{sasl_error_logger, V}"},
               {err_log, "/tmp/chatyeo.err_log"},
                       {err_log_wrap_info, {{err,5000000,10},{sasl,5000000,10}}},
                       {transform_previous, "V:[V]"}
                      ]}
            ]
   },
   
   {err_log_tty, true} % Log to the screen
   
  ]
 },
 
 {mnesia, 
  [
   {dir, "/opt/chatyeo/db"},
   {embedded_mnemnosyne, false}
  ]
 },
 
 {chatyeo_web, 
  [
   {platform, yaws}, %% {inets|yaws|mochiweb}
   {port, 8000},
   {session_timeout, 720},
   {sign_key, "SIGN_KEY"},
   {wwwroot, "/opt/chatyeo/wwwroot"}
  ]
 },
 
 {chatyeo_email, [{host, "smtp.gmail.com"},
                  {port, 465},
                  {username, "chatyeo@chatyeo.com"},
                  {password, "temp4now"},
                  {from, "chatyeo@chatyeo.com"},
                  {to, ["chatyeo@chatyeo.com"]},
                  {header_to, [""]}]},

 {chatyeo, 
  [
   {bots, [{both, all, bot_topic, ["topics"]},
           {meta, all, bot_google_images, ["topics", "results"]},
           {meta, all, bot_sites, ["topics", "results"]},
           {meta, all, bot_youtube_videos, ["topics", "results"]},
           {meta, all, bot_twitter, ["topics", "results"]},
           {meta, all, bot_docs, ["topics", "results"]},
           {both, all, bot_regexp, ["results"]},
           {main, all, bot_message_logger, []},
           {meta, all, bot_storage, ["results"]},
           {both, all, bot_question, ["questions"]},
           {meta, all, bot_yahoo_answers, ["results", "questions"]}]}

   %[{main, all, bot_topic}, {main, all, bot_regexp}, {main, all, bot_move}, {main, all, bot_admin}, {meta, all, bot_results}, {meta, all, bot_storage}, {main, all, bot_message_logger}, {meta, all, bot_twitter}, {meta, all, bot_text_findings}, {meta, all, bot_yahoo_answers}, {meta, all, bot_youtube_videos}, {meta, all, bot_google_images}, {meta, all, bot_books}, {meta, all, bot_wayfair}, {meta, all, bot_docs}, {meta, all, bot_sites}]}           
  ]
 }
].
